.tweets {
  height: 100%;
  overflow-y: auto;
  color: var(--color-black);
  padding: 16px;
  list-style: none;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--color-darkGrey);
  scrollbar-face-color: var(--color-blue);
}

.tweets::-webkit-scrollbar {
    /* Safari and Chrome */
    background-color: var(--color-darkGrey);
    width: 6px;
  }
  
  .tweets::-webkit-scrollbar-thumb {
    /* Safari and Chrome */
    background-color: var(--color-blue);
  }

.tweetsEmpty {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-grey);
    text-align: center;
}