.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    padding: 8px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.logoImg {
    width: 32px;
    height: 32px;
}

.logoName {
    font-size: 2rem;
    margin: 8px;
}

.logoUser {
    font-size: 0.7rem;
    color: var(--color-blue);
    padding-top: 8px;
}

.menu {
    color: var(--color-white);
}

.menuItem {
    color: var(--color-white);
    font-weight: bold;
}